@media (max-width:1199.98px){
    .navbar{
        padding: 0;
        margin: 0;
    }
    .carousel-caption{
        top: 5%;
    }
    .carousel-indicators{
        display: none;
    }
    .single-1 {
        display: inline-block !important;
        text-align: center;
    }
    .single-experience .flex-shrink-0 img{
        margin-bottom: 12px;
    }
    .repair{
        padding: 10px;
    }
    .leftintroimg img {
        width: 100%;
    }
    .rightintroTitle{
        font-size: 34px;
    }
    .aboutpoints li{
        margin-bottom: ;
    }
    .second-btn a{
        padding: 12px 15px;
    } 
    .second-btn {
        margin-top: 20px;
    }
    .faq .second-btn {
        margin-top: 50px;
    }
    .tagline::before{
        left: 300px;
    }
    .tagline::after{
        right: 300px;
    }
    .faq .tagline::before {
        left: 50px;
    }
    .faq .tagline::after {
        right: 50px;
    }
    .skills .tagline::before {
        left: 20px;
    }
    .skills .tagline::after {
        right: 20px;
    }
    .skill-right img {
        max-width: 400px;
    }
    .skill-smaillright{
        padding: 25px;
    }
    .skill-smaillright{
        bottom: 200px;
    }
    .menu-box::before {
        left: 0;
    }
    .faq .tagline::after {
        right: 0px;
    }
    .faq .tagline::before {
        left: 0px;
    }
    .faq p {
        color: white;
        line-height: 25px;
        font-size: 16px;
    }
    .review-cont p {
        font-size: 18px;
    }
}
@media (max-width:991.98px){
    .carousel-caption h5{
        font-size: 45px;
    } 
    .experience .tagline::before{
            left: 180px;
    }
    .experience .tagline::after{
        right: 180px;
    }
    .leftintroimg img {
        width: 100%;
        height: 100%;
    }
    .leftintroimg{
        width: 100%;
        height: 100%;
    }
    .left-content{
        padding: 15px;
    }
    .tagline::after {
        right: 180px;
    }
    .tagline::before {
        left: 180px;
    }
    .chooseicon-box{
        display: inline-block !important;
        text-align: center;
    }
    .rightintroTitle{
        font-size: 26px;
    }
    .aboutpoints li{
        margin-bottom: 12px;
    }
    .skills .tagline::after {
        right: 0px;
        top: 10px;
    }
    .skills .tagline::before {
        left: 0px;
        top: 10px;
    }
    .skills .main-title {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .skills .tagline{
        font-size: 18px;
    }
    .contact-form .tagline::before {
        left: 10px;
    }
    .contact-form .tagline::after {
        right: 10px;
    }
    .location a{
        font-size: 18px;
    }
    .email-box a{
        font-size: 18px;
    }
    .call-box a{
        font-size: 18px;
    }
    .follow-us i {
        font-size: 25px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .contact-form .second-btn {
        margin-top: 30px;
        text-align: center;
    }
    .contact-form {
        background: black;
        color: white;
        padding: 40px 25px;
        border: 2px solid white;
        border-radius: 20px;
    }
    .contact-form .tagline{
        margin-bottom: 30px;
    }
}

@media (max-width:767.98px){
    
}